@using Mvc.Plugin.Vehicles.Models;
@{
    ViewData["Title"] = "Vehicles Module";
}
@model SampleViewModel

<div class="content">
    <p>This is Vehicles module index page</p>

    <p>Api request result :</p>
    <p>@Model.sampleFields</p>
</div>
