@using Mvc.Plugin.Drivers.Models
@{
    ViewData["Title"] = "Drivers Module";
}
@model SampleViewModel

<div class="content">
    <p>This is drivers module index page</p>

    <p>Api request result :</p>
    <p>@Model.sampleFields</p>
</div>
